
:root {
  --black: hsl(0, 0%, 1%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --green: #4CAF50;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222;
}

.title {
text-align: center;
font-weight: var(--weight3);
padding: 30px;
background-color:var(--black);
color: var(--veryLightGray);

}
span{
  color:rgb(114, 114, 114);
}
span:hover{
  color:var(--varyDarkBlue) ;
}

.wrapper {
  margin: 1em;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-bottom: 1.5rem;
}

button{
  background-color: var(--green);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2rem;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 2rem 1rem;
  background: var(--black);
  position: relative;
  align-items:center;
  box-shadow: 0px 7px 10px rbga(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  color: var(--veryLightGray);
  overflow: hidden;
}
/* Grid Classes */
.col-1{
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 24.99%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 74.99%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}


